.chackoutProduct {
    display: flex;
    align-items: flex-start;
    margin: 40px 40px 40px 20px;
}

.checkout__product__image {
    object-fit: contain;
    width: 10rem;
    height: 10rem;
    
}

.checkout__product__rating {
    display: flex;
}

.checkout__product__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 20px;
    text-align: start;
}

.checkout__product__price, .checkout__product__rating {
    height: 4vh;
}

.checkout__product__price {
    display: flex;
}

.checkout__product__button {
    background-color: #f1aa4d;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 6px 8px;
    color: #111;
    margin-top: 10px;
}