* {
    margin: 0;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    color: white;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
    
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__input {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}


.header__searchIcon {
    background-color: #cd9042;
    padding: 5px;
    height: 22px !important;
    color:  #131921;
    
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    
    
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne {
    font-size: 13px;
} 

.header__optionLineTwo {
    font-size: 16px;
    font-weight: 700;
}


.header__optionBasket {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    color: white;
    
}

 .header__optionBasketCount {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
}