.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 100%;
    background-color: white;
    z-index: 1;
    max-height: 400px;
    min-width: 100px;
    
}

.product__info {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-bottom: 15px;
    align-items: center;
}

.product__rating {
    display: flex;
}

.product__price {
    display: flex;
    margin-top: 5px;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background-color: #f1aa4d;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 7px 10px;
    color: #111;
    margin-top: 10px;
}